body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
}

div.header {
    display: flex;
    justify-content: space-between;
    background-color: #1b75be;
}

.background-one-content {
    display: flex;
    flex-direction: column;
    background-color: #1b75be;
}

ul.left.link{
    list-style: none;
}

ul.right.links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 10px;
}

#awesome {
    width: 40%;
    margin-left: 40px;
    font-weight: bold;
    font-size: 50px;
    color: #red;
}

#subtext {
    width: 60%;
    margin-left: 40px;
    font-size: 20px;

}

div.button {
    margin-left: 40px;
}

#placeholder {
    margin-left: 700px;
}
